.main {
  display: grid;
  grid-template-columns: 250px auto 200px;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 10px;
  position: sticky;
}

.header-first {
  display: flex;
  align-items: center;
}

.gmail-header-img {
  margin-left: 10px !important;
}
.header-middle {
  display: flex;
  flex: 0.7;
}
.search-mail {
  background-color: whitesmoke;
  border-radius: 10px;
  display: flex;
  flex: 0.7;
}
.header-middle input {
  border: 0;
  background: transparent;
  outline: 0;
  flex: 1;
  font-size: 15px;
  letter-spacing: 1px;
}

.header-icons{
  display: flex;
    align-items: center;
   justify-content: flex-end;
  
}

 .header-icons .MuiAvatar-img{
height: 50px;
width: 50px;
 } 