.compose-btn{
    background-color: rgb(255, 255, 255)!important;
    color: black!important;
    border-radius: 40px!important;
    box-shadow: 2px 2px 3px #ccc!important;
    width: 138px!important;
    height: 56px!important;
    margin-top: 20px!important;
    margin-bottom: 20px!important;
    margin-left: 10px!important;
}
.compose-btn:hover{
    background-color: rgb(249, 238, 238)!important;
}
